@import '../../../styles/colors.scss';

.field {
    @include border-color-gray-1;
    margin-left: 1px;
    width:99.98%
}

label {
    @include color-gray;
    margin:0px 0px 5px 5px;
}

span {
    font-weight: 600;
}

.notStable {
    @include color-red;
}

.isStable {
    @include color-green;
}