
@import '../../styles/colors.scss';

.field {
    position: absolute;
    top:0;
    left:0;
    @include background-color-green;
    width: 200px;
    height: 100vh;

    button {
        width:150px;
        margin:10px;
    }
    
    img {
        width:150px;
    }


}

@media only screen and (max-width: 1200px) {
    .field {
        position: absolute;
        top:0;
        right:0;
        width: 100%;
        height: 100px;

        margin:0 auto;

        img {
            width:90px;
    
        }

        button {
            margin-top:32px;
        }

        .button-box {
            display: flex;
            justify-content: space-evenly;
            margin-top: -10px;
        }
    }



  }