@import '../../styles/colors.scss';


.large-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


    .field-box {
        margin-top:120px;
    
    }
    
    .field {
        padding: 10px;
        @include border-color-gray-2;
        width: 300px;
        height:150px;
       
        align-items: center;
        margin: 20px;
    }
}



h3 {
    margin-left:10px;
    @include color-green;
}
